* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
}

.header{
	display: flex;
	
	
}

.navigationPanel{
	display: flex;
	flex-direction: row;
	background-color: #ED2156;
	height: 30px;
}

.navbarButton{
	display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  
	width: 20%;

}