<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food4U</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> <!-- Pico.css -->
    <link rel="stylesheet" href="styles.css"> <!-- You can link a CSS file here -->
</head>

<body>

    <main>

        <div id="ErrorText", class="errorText">
            <h1>{{ error }}</h1>
        </div>
        
    </main>
