{% extends 'website/base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <main>

        <div id="mainText" class="mainText">
            <h1>Buy local, Support local</h1>
        </div>
        
    </main>
{% endblock %}



{% block extra_css %}
<style>
  main{
    height: 600px;
  }

  .mainText{
    position: relative;
	display: flex; 
	top: 50%;
	bottom: 50%;
	background-color: #8FD980;
	width: 50%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	align-items: center;
	font-size: 100%;
	border-radius: 10px;
  }
</style>
{% endblock %}