{% load static %}
{% block content %}
<p>Home page</p>
{% endblock %}
{% comment %}
<style>
    .main-card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        border-radius: 15px;
        overflow: hidden;
    }

    .main-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-body p {
        color: #34495e;
        font-size: 1.1rem;
        line-height: 1.6;
    }

    @media (max-width: 767px) {
        .card-body p {
            font-size: 1rem;
        }
    }
</style>
here is the template
{% endcomment %}
