{% extends 'website/base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <main>

        <div class="greeting">
            <p>Welcome to Food4U!</p>
        </div>

        <div class="discription">
            <p>Our mission is to help small businesses get direct access to food produced by local farmers, ensuring fresher, healthier, and more sustainable options for their customers. 
                By cutting out large retailers, we empower small businesses to build direct relationships with farmers, supporting local economies and promoting fair trade. 
                We believe in transparency, quality, and the power of community-driven food systems, making it easier for businesses to source ethically grown and responsibly harvested products. 
                Through our platform, we strive to create a more resilient and equitable food supply chain that benefits both producers and buyers alike.</p>
        </div>

        <div class="callToAction">
            <p>To start your jorney, navigate on the meny on top!</p>
        </div>

        
        <div class="caption">
            <h1>Buy local, Support local!</h1>
        </div>

        

        


        
    </main>
{% endblock %}



{% block extra_css %}
<style>
  main{
    height: 600px;
  }
/*
  .greeting{
    position: relative;
    display: flex;
    top: 20%;
    bottom: 80%;
    width: 12%;
    
    left: 45%;
    transform: translate(-20%, -80%); 
	justify-content: center;
	align-items: center;
    font-size: 20px;
	border-radius: 10px;
  }*/

  /*.discription{
    position: relative;
    display: flex;
    top: 35%;
    bottom: 70%;
    width: 50%;
    
    left: 40%;
    right: 30%;
    transform: translate(-30%, -70%); 
	justify-content: center;
	align-items: center;
    font-size: 20px;
	border-radius: 10px;
  }*/


  .callToAction{
    position: relative;
    display: flex;
    top: 15%;
    /*bottom: 85%;*/
    
    left: 40%;
   
    /*transform: translate(-15%, -85%); */
	justify-content: center;
	align-items: center;
    font-size: 20px;
	border-radius: 10px;
  }

  .caption{
    position: relative;
    display: flex;
    margin-left: 100px;
    background-color: #ffffff;
  }

  /*
  .mainText{
    position: relative;
	display: flex; 
	top: 10%;
	bottom: 70%;
	background-color: #8FD980;
	width: 35%;
	left: 20%;
	transform: translate(-30%, -70%); 
	justify-content: center;
	align-items: center;
	font-size: 35px;
	border-radius: 10px;
    
  }*/

</style>
{% endblock %}