<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food4U</title>
    <link rel="stylesheet" href="styles.css"> <!-- You can link a CSS file here -->
</head>

<body>

    
    <header>

        <div id="navigationPanel" class="navigationPanel">
            <div class="navbarButton">
                <a href="" title="aboutUS" class="navbarButtonLink">About us</a>
            </div>

            <div class="navbarButton">
                <a href="" title="Search" class="navbarButtonLink">Search</a>
            </div>

            <div class="navbarButton">
                <a href="" title="Wishlist" class="navbarButtonLink">Wishlist</a>
            </div>

            <div class="navbarButton">
                <a href="" title="Acount" class="navbarButtonLink">Acount</a>
            </div>

            <div class="navbarButton">
                <a href="" title="LoginSignup" class="navbarButtonLink">Login/Signup</a>
            </div>

        </div>
        
    </header>

    
    <main>

        <div id="mainText", class="mainText">
            <h1>Buy local, Support local</h1>
        </div>
        
    </main>

    
    <footer>
        
    </footer>

</body>


</html>
