* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	margin: 0;
	background-color: #F4FDD9;
}

a {
	text-decoration: none;
}

.header{
	display: flex;
	
	
}

.navigationPanel{
	display: flex;
	flex-direction: row;
	background-color: #6A8D63;
	height: 30px;
}

.navbarButton{
	display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  
	width: 20%;
}


.mainText{
	position: absolute;
	display: flex; 
	top: 50%;
	bottom: 50%;
	background-color: #8FD980;
	width: 50%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	align-items: center;
	font-size: 100%;
	border-radius: 10px;
}

.errorText{
	position: absolute;
	display: flex; 
	top: 50%;
	bottom: 50%;
	background-color: #F0A868;
	width: 50%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	align-items: center;
	font-size: 100%;
	border-radius: 20px;
	color: #FFFFFF;
}

.authForm{
	position: absolute; 
	top: 50%;
	bottom: 50%;
	width: 20%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	align-items: center;
	font-size: 100%;
}