* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #FBF9F9;
}

.header{
	display: flex;
	
}

.navigationPanel{
	display: flex;
	flex-direction: row;
	background-color: #6A8D63;
	height: 50px;
}

.navbarButton{
	display: flex;
    justify-content: center; 
    align-items: center;  
	width: 20%;
}

.navbarButton:hover {
	background-color: #92CB87;
}

.mainText{
	position: absolute;
	display: flex; 
	top: 50%;
	bottom: 50%;
	background-color: #8FD980;
	width: 50%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	align-items: center;
	font-size: 100%;
	border-radius: 10px;
}

.errorText{
	position: absolute;
	display: flex; 
	top: 50%;
	bottom: 50%;
	background-color: #F0A868;
	width: 50%;
	height: 15%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	align-items: center;
	font-size: 100%;
	border-radius: 20px;
	color: #FFFFFF;
}