{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<main class="container" style="
  background-color: var(--color-accent1);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
">
  <form method="post">
    <h2 class="text-white">Register</h2>

    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <small class="text-danger">{{ field.errors|striptags }}</small>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success btn-block">Register</button>
  </form>
</main>
{% endblock %}

{% block extra_css %}
<style>
  .btn-success { background-color: #28a745; border-color: #28a745; }
  .btn-success:hover { background-color: #218838; border-color: #1e7e34; }
</style>
{% endblock %}